@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Heebo&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Heebo&family=Nunito:wght@800&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Pacifico&display=swap);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

:root{
    --primary-color:#FEA116;
    --secondar-color:#ffff;
    --tertiary-color:#00000000;
    --color1:#0F172B;
    --color2:#666565;
    --color3:#0F172B;
    --font-family1: 'Nunito', sans-serif;
    --font-family2: 'Heebo', sans-serif;
    --font-family3: 'Pacifico', cursive;
}

body{
    width: 100%;
    background-color: #f5f5f5;
    overflow-x: hidden;
}
.top{
    display: flex;
    margin-right: 25px;
}
.top i{
    position: fixed;
    color: var(--secondar-color);
    padding: 15px 16px;
    right: 0;
    margin-right: 35px;
    background-color: var(--primary-color);
}

#home, #foodmenu, #aboutus, #homecards, #footer{
    scroll-margin-top: 6rem;
}
#reservation, #client, #team{
    scroll-margin-top: 5rem;
}
/* ----------------navbar----------------- */


.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 93px;
    position: fixed;
    z-index: 2;
    background-color: var(--color3);
}
.logo{
    margin: 0 45px;
}
.logo i{
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-right: 15px;
    font-weight: 900;
}
.logo a{
    font-weight:bolder;
    font-family: var(--font-family1);
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--primary-color);
}
.navlinks{
    display: flex;
    margin-right:50px;
}
.navlinks li{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.navlinks li a{
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    font-family: var(--font-family2);
    color: var(--secondar-color);
    margin: 0 0 0 25px;
    padding: 35px 0px;
}
.book{
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    font-family: var(--font-family1);
    color: var(--secondar-color);
    margin: 30px 0 30px 25px;
    padding: 11px 26px;
    background-color:var(--primary-color);
    border-radius: 2px;
}
.book:hover{
    background-color: rgb(255, 174, 0);
    transition: .5s;
}
.navlinks li a:hover{
    color: var(--primary-color);
    transition: all .5s ease-in-out;
}
.navlinks li > .active{
    color: var(--primary-color);
}
.navlinks i{
    font-size: .6rem;
    position: absolute;
    margin-top: 5px;
    margin-left: 3px;
}
.dropdown{
  position: absolute;
  margin-top: 218px;
  background-color: var(--secondar-color);
    display: none;
}
.dropdown li a{
    width: 100%;
    margin: 0;
    padding: 10px 70px 10px 10px;
    color: var(--color2);
    font-family: var(--font-family2);
    background-color: var(--secondar-color);
}
.dropdown li a:hover{
    background-color: rgb(226, 226, 226);
    transition: 0s;
    color: #666565;
}
.navlinks li:hover .dropdown{
    display: block;
}
#check{
    display: none;
}
.navbar label{
    color:#93969F;
    font-size: 20px;
    padding: 6px 12px;
    border: 1px solid #93969f44;
    margin: 0 30px 20px;
    display: none;
}
/* ----------------home----------------- */

#home{
    width: 100%;
    height: 51rem;
    position: relative;
    background-image: url(images/bg-hero.jpg);
    top: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.homecontainer{
    width: 100%;
    height: 51rem;
    background-color: var(--color1);
    opacity: .9;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.homecontents{
    display: flex;
    justify-content: center;
    padding-top: 6rem;
    width: 1164px;
}
.homeleft{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 582px;
    height: 582px;
}
.homeleft h1{
    margin:0 0 8px;
    font-size: 64px;
    font-family: var(--font-family1);
    color: var(--secondar-color);
}
.homeleft p{
    font-size: 16px;
    font-family: var(--font-family2);
    color: var(--secondar-color);
    margin: 0 0 24px;
    padding: 0 48px 8px 0 ;
    line-height: 1.5;
}
.homeleft a{
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    padding: 16px 48px;
    font-family: var(--font-family1);
    color: var(--secondar-color);
    background-color:var(--primary-color);
    border-radius: 2px;
}
.homeleft a:hover{
    background-color: rgb(255, 174, 0);
    transition: .5s;
}
.homeright{
    width: 582px;
    height: 582px;
}
.homeright img{
    padding: 10% 0;
    width: 90%;
    animation: spin 50s linear infinite;
}
@keyframes spin {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* ----------------home cards----------------- */

.hc-container{
    width: 100%;
    height: 30rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hc-contents{
    width: 1140px;
    height: 260px;
    display: flex;
    gap: 25px;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    background-color: var(--secondar-color);
}
.card i{
    font-size: 44px;
    /* color: var(--primary-color); */
} 
.card h2{
    font-size: 1.5rem;
    font-family: var(--font-family1);
}
.card p{
    font-size: 1rem;
    font-family: var(--font-family2);
    /* color: var(--color2); */
}
.card:hover{
    background-color: var(--primary-color);
    color: var(--secondar-color);
    transition: .5s;
}

/* ----------------about us----------------- */

.aboutcontainer{
    width: 100%;
    height: 39rem;
    display: flex;
    justify-content: center;
}
.aboutcontents{
    width: 1140px;
    height: 39rem;
    display: flex;
    gap: 45px;
}
.aboutleft{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 582px;
}
.a-lefttop{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 18px;
    margin-left: 23px;
}
.a-leftbottom{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 18px;
}
.a-lefttop img{
    width: 259px;
    height: 259px;
}
.a-leftbottom img{
    width: 259px;
    height: 259px;
}
.about2{
    margin-bottom: 4px;
    width: 194px;
    height: 194px;
}
.about2 img, .about3 img{
    width: 194px;
    height: 194px;
}
.aboutright{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 70px;
    width: 582px;
}
.aboutright h3{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-family: var(--font-family3);
    font-weight: 400;
}
.aboutright h3::after{
    content: '';
    display: block;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.aboutright span{
    font-family: var(--font-family1);
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.5rem;
}
.aboutright span i{
    color: var(--primary-color);
}
.aboutright p{
    color: var(--color2);
    font-family: var(--font-family2);
    font-size: 1rem;
    line-height: 1.5;
    width:95% ;
}
.aboutright .para{
    margin: 20px 0;
}
.aboutnums{
    display: flex;
    gap: 25px;
}
.years{
    display: flex;
    align-items: center;
    gap: 25px;
}
.years h4{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 3rem;
    font-family: var(--font-family1);
    color: var(--primary-color);
}
.years h4::before{
    content: '';
    display: block;
    position: relative;
    width: 5px;
    height: 50px;
    background-color: var(--primary-color);
}
.abtexts p{
    font-family: var(--font-family2);
}
.abtexts span{
    font-size: 1rem;
}
.aboutright a{
    margin-top: 30px;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    font-weight: 500;
    padding: 16px 48px;
    font-family: var(--font-family1);
    color: var(--secondar-color);
    background-color:var(--primary-color);
    border-radius: 2px;
}
.aboutright a:hover{
    background-color: rgb(255, 174, 0);
    transition: .5s;
}

/* ----------------Food Menu----------------- */

.foodcontainer{
    width: 100%;
    height: 48rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.foodcontents{
    width: 1160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 45px;
    overflow: hidden;
}
.foodslide{
    display: flex;
}
.foodtop{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.foodtop h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-family: var(--font-family3);
    font-weight: 400;
    font-size: 1.25rem;
}
.foodtop h3::after{
    content: '';
    display: block;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.foodtop h3::before{
    content: '';
    display: block;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.foodtop span{
    font-family: var(--font-family1);
    font-size: 2.5rem;
    font-weight: 800;
}
.menulinks{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 30px;

}
.menulinks a{
    padding: 15px 0;
    display: flex;
    text-decoration: none;
    gap: 15px;
    border-bottom: 2.5px solid rgba(255, 255, 255, 0);

}
.menulinks a i{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--primary-color);
}
.menutext h4{
    display:flex ;
    flex-direction: column;
    text-align:start;
    font-family: var(--font-family2);
    font-weight: 400;
    color: #0F172B;
}
.menutext span{
    font-size: 1rem;
}
.foodtop::after{
    content: '';
    display: block;
    position: relative;
    width: 380px;
    height: 1px;
    background-color: var(--color2);
    opacity: .2;
}
.menulinks a:hover{
    border-bottom: 2.5px solid var(--primary-color);
}
.menulinks > .active{
    border-bottom: 2.5px solid var(--primary-color);

}
/* -------------------------------- */

.foodbottom {
    display: flex;
    justify-content:center ;
    align-items: center;
    gap: 20px;
}
.fbleft{
    width: 570px;
}
.fbright{
    width: 570px;
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.infotop{
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
    border-bottom: 1px solid #66656533;
}
.infobottom{
    padding: 5px 0;
}
.infotop h4{
    font-size: 1.25rem;
    font-family: var(--font-family1);
}
.infotop span{
    font-family: var(--font-family1);
    font-size: 1.25rem;
    color: var(--primary-color);
    font-weight: 700;
}
.infobottom p{
    font-family: var(--font-family2);
    color: var(--color2);
    font-style: italic;
    font-size: 14px;
}

/* ----------------Reservation----------------- */

.reservcontainer{
    width: 100%;
    height: 521px;
    display: flex;
    justify-content: center;
    background-color: var(--color1);
    overflow: hidden;
}
.reservcontents{
    width: 100%;
    height: 39rem;
    display: flex;
    gap: 45px;
}
.reservleft{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-image: url(images/video.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.reservleft a{
    justify-content: center;
    color: var(--primary-color);
    font-size: 100px;
}
.reservright{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin-top: 45px;
    width: 43%;
}
.rrtop h3{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-family: var(--font-family3);
    font-weight: 400;
}
.rrtop h3::after{
    content: '';
    display: block;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.rrtop span{
    font-size: 2.5rem;
    font-family: var(--font-family1);
    font-weight: 700;
    color: var(--secondar-color);
}
.rrbottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.rrbottom-top1 {
    width: 100%;
    display: flex;
    gap: 15px;
}
.rrbottom-top1 input{
    width: 100%;
    height: 58px;
    padding: 16px 12px;
    outline: none;
    border: none;
}
.rrbottom-top2 input{
    width: 100%;
    height: 58px;
    padding: 16px 12px;
    outline: none;
    border: none;
}
.rrbottom-top2{
    width: 100%;
    display: flex;
    gap: 15px;
}
.selection{
    width: 100%;
}
.rrbottom-top2 select{
    width: 100%;
    height: 58px;
    padding: 16px 12px;
    outline: none;
    border: none;
    padding: 26px 12px 10px;
}
.rrbottom-top2 label{
    position: absolute;
    margin-top: 5px;
    margin-left: -19%;
    font-family: var(--font-family2);
    font-size: .8rem;
    color: var(--color2);
}
.rrbottom-top2 option{
    font-size: 16px;
    font-family: var(--font-family2);
    color: var(--color2);
}
textarea{
    font-family: var(--font-family2);
    font-size: 16px;
    color: var(--color2);
    width: 100%;
    resize: none;
    outline:none;
    padding: 20px;
}
.rrbottom-last{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}
.rrbottom-last a{
    text-decoration: none;
    width: 100%;
    height: 58px;
    text-align: center;
    background-color: var(--primary-color);
    padding: 18px 12px;
    border-radius: 2px;
    font-family: var(--font-family1);
    color: var(--secondar-color);
}   

/* ----------------team----------------- */

.teamcontainer{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamtop{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}
.teamtop h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-family: var(--font-family3);
    font-weight: 400;
    font-size: 1.25rem;
}
.teamtop h3::after{
    content: '';
    display: block;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.teamtop h3::before{
    content: '';
    display: block;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.teamtop span{
    font-family: var(--font-family1);
    font-size: 2.5rem;
    font-weight: 800;
}
.teamcontents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1140px;
}
.teambottom{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    overflow: hidden;
}
.teamcard{
    width: 261px;
    height: 365px;
    /* background-color: var(--secondar-color); */
}
.tcard{
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--secondar-color);

}
.timg{
    width: 213px;
    height: 213px;
    border-radius: 50%;
    overflow: hidden;
}
.timg img{
    width: 100%;
}
.tcard h3{
    font-family: var(--font-family1);
}
.tcard p{
    font-family: var(--font-family2);
    color: var(--color2);
    font-size: 14px;
}
.socioicons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* display: none; */
    background-color: var(--secondar-color);
    z-index:0;
}
.socioicons i{
    padding: 12px;
    background-color: var(--primary-color);
    color: var(--secondar-color);
    border-radius: 50% 50% 0 0;
}
.teamcard:hover .socioicons .white{
    margin-top: 50px;
    transition: 1s ease-in-out;
}
.white{
    margin-top: -50px;
    width: 100%;
    height: 40px;
    background-color: #f5f5f5;
    z-index: 1;
}
.teamcard:hover .timg img{
    transform: scale(1.1);
    transition: 1s;
}

/* ----------------client----------------- */

.clientcontainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.clienttop{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;
}
.clienttop h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-family: var(--font-family3);
    font-weight: 400;
    font-size: 1.25rem;
}
.clienttop h3::after{
    content: '';
    display: block;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.clienttop h3::before{
    content: '';
    display: block;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.clienttop span{
    font-family: var(--font-family1);
    font-size: 2.5rem;
    font-weight: 800;
}
.clientbottom{
    display: flex;
    flex-direction: column;
    width: 1140px;
    height: 20rem;
}
.client-items{
    display: flex;
    gap: 25px;
    justify-content: flex-start;
    margin-left: 22px;
    overflow: hidden;
}
.client-items input{
    display: none;
}
.client{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    min-width: 356px;
    height: 238px;
    border: 1px solid var(--color2);
}
.clientimg{
    display: flex;
    align-items: center;
    gap: 20px;
}
.clientimg img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
}
.c-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.c-info h3{
    font-family: var(--font-family1);
}
.c-info span{
    font-family: var(--font-family2);
    font-size: .8rem;
    /* color: var(--color2); */
}
.client i{
    font-size: 2.5rem;
    margin-left: 20px;
    /* color: var(--primary-color); */
}
.client p{
    font-family: var(--font-family2);
    margin-left: 20px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.manualBtn{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid var(--color2);
    opacity: .5;
    cursor: pointer;
}
.manualBtn:hover{
    background-color: var(--primary-color);
    border: none;
    opacity: 1;
}
#radiobtn1:checked ~ .first{
    margin-left: 0;
    transition: 1s;
}
#radiobtn2:checked ~ .first{
    margin-left: -381px;
    transition: 1s;
}
#radiobtn3:checked ~ .first{
    margin-left: -762px;
    transition: 1s;
}
#radiobtn4:checked ~ .first{
    margin-left: -1143px;
    transition: 1s;
}

#radiobtn1:checked ~.client2{
    color: var(--secondar-color);
    background-color: var(--primary-color);
    transition: .5s linear;
    border: none;
}
#radiobtn2:checked ~.client3{
    color: var(--secondar-color);  
    background-color: var(--primary-color);
    transition: .5s linear;
    border: none;
}
#radiobtn3:checked ~.client4{
    color: var(--secondar-color);
    background-color: var(--primary-color);
    transition: .5s linear;
    border: none;
}
#radiobtn4:checked ~.client5{
    color: var(--secondar-color);
    background-color: var(--primary-color);
    transition: .5s linear;
    border: none;
}
/* .client-items > .active{
    color: var(--secondar-color);
    background-color: var(--primary-color);
    transition: .5s linear;
    border: none;
} */

/* ----------------footer----------------- */

.footcontainer{
    width: 100%;
    height: 30rem;
    background-color: var(--color1);
    display: flex;
    justify-content: center;
}
.foottop{
    width: 100%;
    height: 22rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}
.company{ 
    grid-column-start: 1;
    grid-column-end: 2;
    display: grid;
    justify-content: flex-start;
    gap: 20px;
    height: 194px;
}
.contact{
    grid-column-start: 2;
    grid-column-end: 3;
    display: grid;
    justify-content: flex-start;
    gap: 20px;
    height: 194px;
}
.opening{
    grid-column-start: 3;
    grid-column-end: 4;
    display: grid;
    justify-content: flex-start;
    gap: 20px;
    height: 194px;

}
.newsletter{
    grid-column-start: 4;
    grid-column-end: 5;
    display: grid;
    justify-content: center;
    gap: 20px;
    height: 194px;
}
.company h3, .contact h3, .opening h3, .newsletter h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    color: var(--primary-color);
    font-family: var(--font-family3);
    font-weight: 400;
    font-size: 25px;
}
.company h3::after, .contact h3::after, .opening h3::after, .newsletter h3::after{
    content: '';
    display: block;
    position: relative;
    width: 50px;
    height: 2px;
    background-color: var(--primary-color);
}
.complinks, .address{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.complinks a{
    display: flex;
    gap: 10px;
    text-decoration: none;
    color: var(--secondar-color);
    font-family: var(--font-family2);
}
.complinks a:hover{
    transform:scale(1.05);
}
.address i{
    color: var(--secondar-color);
}
.address span{
    margin-left: 10px;
    color: var(--secondar-color);
    font-family: var(--font-family2);
    font-weight: 400;
}
.follow{
    display: flex;
    align-items: center;
    gap: 5px;
}
.follow i{
    padding: 10px;
    color: var(--secondar-color);
    border: 1px solid var(--secondar-color);
    border-radius: 50%;
}
.follow i:hover{
    color: var(--primary-color);
    background-color: var(--secondar-color);
    transition: .6s;
}
.openinfo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-decoration: none;
    color: var(--secondar-color);
}
.openinfo p{
    font-family: var(--font-family1);
    font-size: 20px;
}
.openinfo span{
    font-family: var(--font-family2);
}
.newspara{
    color: var(--secondar-color);
    font-family: var(--font-family2);
}
.newspara p{
    width: 290px;
}
.email input{
    width: 80%;
    padding: 20px;
    outline: 4px #fea11646 solid;
}
.email .signup{
    border: none;
    outline: none;
    width: auto;
    padding: 8px;
    position: absolute;
    margin-left: -85px;
    margin-top: 9px;
    background-color: var(--primary-color);
    color: var(--secondar-color);
    font-family: var(--font-family1);
    font-weight: 700;
    font-size: 1rem;
}
.footbottom{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.copyright{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.copyright p{
    color: var(--secondar-color);
    font-family: var(--font-family2);
}
.copyright p a{
    color: var(--secondar-color);
    font-family: var(--font-family2);
}
.footerlinks a{
    color: var(--secondar-color);
    text-decoration: none;
    font-family: var(--font-family2);
    padding:0 15px;
    border-right: 1px solid rgb(53, 53, 53);
}

/* ----------------media query----------------- */

@media (max-width:1199px) {
    .homecontainer{
        height: 46rem;
    }
    .homecontents{
        width: 984px;
    }
    #home{
        height: 46rem;
    }
    .hc-contents{
        width: 960px;
    }
    .aboutcontents{
        width: 984px;
    }
    .foodcontents{
        justify-content: center;
        align-items: center;
        width:984px
    }
    .foodslide{
        width: 954px;
        overflow: hidden;
        /* margin-left: 100px; */
    }
    .fbleft{
        width: 470px;
    }
    .fbright{
        width: 470px;
    }
    .infotop{
        width: 360px;
    }
    .teambottom{
        width: 960px;
    }
    .tcard{
        height: 300px;
    }
    .timg{
        margin-top: 20px;
        width: 168px;
        height: 168px;
    }
    .teamcontents{
        height: 34rem;
    }
    .clientbottom{
        width: 960px;
    }
    .client{
        min-width: 296px;
    }
    #radiobtn1:checked ~ .first{
        margin-left: 0;
        transition: 1s;
    }
    #radiobtn2:checked ~ .first{
        margin-left: -321px;
        transition: 1s;
    }
    #radiobtn3:checked ~ .first{
        margin-left: -642px;
        transition: 1s;
    }
    #radiobtn4:checked ~ .first{
        margin-left: -963px;
        transition: 1s;
    }
    .footcontents{
        width: 960px;
    }
}

@media (max-width:1017px){
    .navbar{
        height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: static;
    }
    .navbar label{
        position: absolute;
        display: block;
        margin-top: 20px;
        right: 0;
    }
    .logo{
        margin-left: 20px;
        margin-top: 20px;
    }
    .logo a{
        font-size: 36px;
    }
    .navlinks{
        width: 100%;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        background-color: var(--color3);
        border-top: 1px solid rgba(85, 85, 85, 0.473);
        display: none;
    }
    .navlinks li a{
        width: 100%;
        padding: 10px;
        margin: 0;
        padding-left: 20px;
    }
    .navlinks a{
        width: 165px;
        padding: 20;
        margin: 0;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    .dropdown{
        width: 100%;
        position: relative;
        padding: 0;
        margin: 0;
        left: 0;
    }
    #check:checked ~ .navlinks{
        display: flex;
        z-index: 1;
    }
    .homecontainer{
        width: 100%;
        height: 85rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .homecontents{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .homeleft{
        height: 30rem;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .homeleft h1{
        font-size: 55px;
    }
    .homeright{
        width: 70%;
    }
    .homeright img{
        width: 100%;
        padding: 0;
    }
    .top i{
        margin-right: 130px;
    }
    #home{
        height: 85rem;
    }
    .hc-container{
        height: 38rem;
    }
    .hc-contents{
        flex-wrap: wrap;
        height: 30rem;
    }
    .card{
        width: 336px;
        height: 216px;
    }
    .aboutcontainer{
        height: 70rem;
    }
    .aboutcontents{
        height: 70rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
    }
    .aboutleft{
        width: 744px;
    }
    .a-lefttop{
        height: 340px;
    }
    .about1 img, .about4 img{
        width: 340px;
        height: 340px;
    }
    .about4 img{
        margin-right: 20px;
    }
    .about2{
        display: flex;
        align-items: flex-end;
        width: 340px;
        height: 340px;
    }
    .about2 img, .about3 img{
        width: 255px;
        height: 255px;
    }
    .aboutright{
        width: 744px;
        margin-top: 20px;
    }
    .aboutnums, .years{
        width: 100%;
    }
    .foodcontainer{
        height: 80rem;
    }
    .foodcontents{
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .foodtop{
        width: 776px;
    }
    .foodbottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .foodslide,.fbleft, .fbright{
        width: 744px;
    }
    .menuinfo, .infotop{
        width: 100%;
    }
    .teamcontainer{
        height: 80rem;
    }
    .teamcontents{
        height: 80rem;
    }
    .teambottom{
        width: 772px;
        height: 70rem;
        flex-wrap: wrap;
    }
    .teamcard{
        width: 336px;
        z-index: 1;
    }
    .tcard{
        height: 400px;
    }
    .timg{
        width: 288px;
        height: 288px;
    }
    .teamcard:hover .socioicons .white{
        margin-top: 0px;
        transition: 1s ease-in-out;
    }
    .clientbottom{
        width: 696px;
    }
    #radiobtn1:checked ~ .first{
        margin-left: -140px;
        transition: 1s;
    }
    #radiobtn2:checked ~ .first{
        margin-left: -470px;
        transition: 1s;
    }
    #radiobtn3:checked ~ .first{
        margin-left: -780px;
        transition: 1s;
    }
    #radiobtn4:checked ~ .first{
        margin-left: -1100px;
        transition: 1s;
    }
    .top {
        display: none;
    }
    .footcontainer{
        height: 42rem;
    }
    .footcontents{
        width: 772px;
        height: 40rem;
    }
    .foottop{
        width: 772px;
        height: 35rem;
        grid-template-columns: 1fr 1fr 0 0 ;
        grid-template-rows: 1fr 1fr;
        gap: 0;
    }
    .company{
        grid-area: 1/1/2/2;
        justify-content: center;
        align-items: center;
    }
    .contact{
        grid-area: 1/2/2/3;
        justify-content: center;
        align-items: center;
    }
    .opening{
        grid-area: 2/1/3/2;
        justify-content: center;
        align-items: center;
    }
    .newsletter{
        grid-area: 2/2/3/2;
        justify-content: center;
        align-items: center;
    }
    .footbottom{
        width: 100%;
    }

}

@media (max-width:767px){
    #home{
        height: 70rem;
    }
    .homecontainer{
        height: 70rem;
    }
    .homeleft{
        width: 100%;
        height: 23rem;
    }
    .homeleft h1{
        font-size: 40px;
    }
    .homeleft p{
        margin-left: 10%;
        width: 80%;
    }
    .homeleft a{
        padding: 8px 12px;
    }
    .homeright{
        width: 90%;
    }
    .hc-container{
        height: 75rem;
    }
    .hc-contents{
        gap: 0;
        height: 70rem;
    }
    .card{
        width: 100%;
    }
    .aboutcontainer{
        height: 60rem;
    }
    .aboutcontents{
        width: 100%;
        height: 60rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
    }
    .aboutleft{
        width: 100%;
        height: 451px;
        overflow-x: hidden;
    }
    .a-lefttop{
        height: 209px;
        margin-left: 10px;
    }
    .about1 img, .about4 img{
        width: 190px;
        height: 209px;
    }
    .about4 img{
        margin-right: 10px;
    }
    .about2{
        display: flex;
        align-items: flex-end;
        width: 157px;
        height: 157px;
    }
    .about2 img, .about3 img{
        width: 157px;
        height: 157px;
    }
    .aboutright{
        width: 90%;
        margin-top: 20px;
        margin-left: 3%;
    }
    .aboutright span{
        width: 100%;
        font-size: 20px;
    }
    .aboutnums{
        display: flex;
        flex-direction: column;
    }
    .num h4{
        font-size: 33.3px;
    }
    .abtexts span{
        font-size: 16px;
    }
    .foodcontainer{
        height: 80rem;
    }
    .foodcontents{
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    .foodtop{
        width: 100%;
    }
    .foodbottom{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menulinks {
        width: 100%;
        gap: 0;
    }
    .menulinks a{
        font-size: .8rem;
        gap: 5px;
    }
    .foodslide,.fbleft, .fbright{
        width: 390px;
    }
    .menuinfo, .infotop{
        width: 100%;
    }
    .reservcontainer{
        height: 1159px;

    }
    .reservcontents{
        height: 1159px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .reservleft, .reservright{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 500px;
    }
    .rrtop{
        width: 100%;
    }
    .rrtop span{
        font-size: 29px;
    }
    .rrbottom{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .rrbottom-top1, .rrbottom-top2{
        display: flex;
        flex-direction: column;
        width: 95%;
    }
    .rrbottom-top1 input, .rrbottom-top2 input{
        width: 100%;
    }
    .rrbottom-last{
        width: 95%;
    }
    .selection label{
        position: absolute;
        left: 0;
        margin-left: 10%;
    }
    .teamcontainer{
        height: 120rem;
    }
    .teamcontents{
        width: 100%;
        height: 130rem;
    }
    .teamtop{
        width: 100%;
    }                        
    .teambottom{
        width: 100%;
        height: 110rem;
        flex-wrap: wrap;
    }    
    .teamcard{
        width: 335px;
        z-index: 1;
    }
    .tcard{
        height: 350px;
    }
    .timg{
        width: 287px;
        height: 297px;
    }
    .teamcard:hover .socioicons .white{
        margin-top: 0px;
        transition: 1s ease-in-out;
    }
    .clientcontents{
        width: 100%;
    }
    .client-items{
        width: 100%;
        margin: 0;
    }
    .clientbottom{
        width: 100%;
    }
    #radiobtn1:checked ~ .first{
        margin-left: -250px;
        transition: 1s;
    }
    #radiobtn2:checked ~ .first{
        margin-left: -580px;
        transition: 1s;
    }
    #radiobtn3:checked ~ .first{
        margin-left: -900px;
        transition: 1s;
    }
    #radiobtn4:checked ~ .first{
        margin-left: -1210px;
        transition: 1s;
    }
    .footcontainer{
        width: 100%;
        height: 85rem;
    }
    .footcontents{
        width: 100%;
        height: 80rem;
    }
    .foottop{
        width: 90%;
        height: 75rem;
        grid-template-columns: 1fr 0 0 0 ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0;
        margin-left: 20px;
    }
    .company{
        width: 60%;
        grid-area: 1/1/2/2;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .contact{
        width: 60%;
        grid-area: 2/1/3/2;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .opening{
        width: 60%;
        grid-area: 3/1/4/2;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .newsletter{
        width: 68%;
        grid-area: 4/1/5/2;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .newsletter p{
        width: 100%;
    }
    .footbottom{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0px;
        text-align: center;
        gap: 20px;
    }
    .email{
        margin-left: 30px;
        width: 100%;
    }
    .email input{
        width: 70%;
    }
}

